CLIENT_URL=http://localhost:3000
JWT_SECRET=your_jwt_secret_here
ACCESSKEYID=your_access_key_id_here
SECRETACCESSKEY=your_secret_access_key_here
BUCKETNAME=your_bucket_name_here
PROJECT_ID=your_project_id_here
DEPLOY_DOMAIN=your_deploy_domain_here
B2_REGION=your_b2_region_here
B2_ENDPOINT=your_b2_endpoint_here
DOCKER_HOST=unix:///var/run/docker.sock